@import '../../../public/assets/sass/variables';

.search-box{
    background-color:$color-light-gray;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width:80%;
    margin:0px auto;
    @media(min-width:768px){
        width:60%;
    }
    input{
        width: 90%;
        border: none;
        background-color: unset;
        height: 48px;
        padding: 0px 10px;
      &:focus{
          outline: none;
      }
    }
    button{
        width:10%;
        border:none;
        background-color: unset;
        cursor: pointer;
        svg{
            width:14px;
        }
    }
}