@font-face {
  font-family: iransans;
  font-style: normal;
  
  src: url('~/public/assets/fonts/Sans.eot');
}
.App {
  font-family: 'Vazir', sans-serif;
  direction: rtl;
}
.container{
  width:80%;
  margin:0px auto;
}
@media(max-width:767px){
  .container{
    width: 100%;
  }
}

.home{
  margin-top:30px;
}
.filters{
  display: flex;
  justify-content:flex-start;
  width:60%;
  margin:10px auto;
}