$color-dark-green:#22a957;
$color-medium-green:rgba(34,169,88,0.2);
$color-light-green:#f3f8ef;
$color-dark-gray:#999797;
$color-light-gray:#f8f8f8;
$color-white:white;

$fs-title:16px;
$fs-body:14px;
$fs-subtitle:12px;

$box-shadow:0px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(225,225,225,0); 
